Django==5.2.6
djangorestframework==3.16.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
python-dotenv==1.2.1
requests==2.32.5
apscheduler==3.10.4
django-apscheduler==0.7.0
cryptography==47.0.0
user-agents==2.2.0
